<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Thank you for messaging me</title>
  <meta name="description" content='Thank you for messaging me'>
  <meta name="author" content="Fabian Volkers">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
<h1>Thank You for messaging me</h1>
<p>{{ message.email }}</p>
<p>{{ message.subject }}</p>
<p>{{ message.content }}</p>
</body>
</html>

