<div class="spotlight-container">
    {% for spotlight in spotlights %}
    
    <img src='{{ MEDIA_URL }}/{{ spotlight.common.image }}' draggable="false" class="spotlight-img" alt-text="{{ spotlight.image_alttext }}">
    <a href="{% url spotlight.common.detail_view spotlight.slug %}">
    <span class="spotlight-caption">{{ spotlight.name }}</span>
    </a>
    {% endfor %}
    <span class="button-left" onclick="plusDivs(-1)">&#10094;</span>
    <span class="button-right" onclick="plusDivs(+1)">&#10095;</span>
    <div class="spotlight-indicator-container">
    {% for spotlight in spotlights %}
    <span class="indicator-transparent spotlight-indicator" onclick="currentDiv({{ forloop.counter }})"></span>
    {% endfor %}
    </div>
</div>