<div class="collection-container">
    {% for item in entries %}

    <div id="{{ item.slug }}" class="collection-item {% cycle 'column-1' 'column-2' 'column-3' %}">
        <a href="{% url item.common.detail_view item.slug %}">
            <h4>{{ item.name }}</h4>
        </a>
        <div>
            <a href="{% url item.common.detail_view item.slug %}">
                <img src="{{ MEDIA_URL }}/{{ item.common.image }}">
                <span></span>
            </a>
        </div>
    </div>
    {% endfor %}
</div>