<div class="collection-container">
    {% for entry in entries %}

    <div id="{{ entry.slug }}" class="collection-entry {% cycle 'column-1' 'column-2' 'column-3' %}">
        <a href="{% url entry.detail_view entry.slug %}">
            <h4>{{ entry.name }}</h4>
        </a>
        <div>
            <a href="{% url entry.detail_view entry.slug %}">
                <img src="{{ MEDIA_URL }}/{{ entry.image }}">
                <span></span>
            </a>
        </div>
    </div>
    {% endfor %}
</div>