{% load i18n %}
<div id="contact-container">
    <div class="contact-section">
        <p>{% trans "Send me a message" %}...</p>
        <form action="{% url 'portfolio:contact' %}" method="post" id='contact-form'>
            {% csrf_token %}
            <label for="name">{% trans "Name" %}</label><br>
            <input type="text" name="name" id="name" placeholder="Ada Lovelace">
            <br>
            <label for="email">{% trans "Email Address" %}</label><br>
            <input type="email" name="email" id="email" placeholder="ada.lovelace@example.com">
            <br>
            <label for="subject">{% trans "Subject" %}</label><br>
            <input type="text" name="subject" id="subject" placeholder="{% trans "Subject" %}">
            <br>
            <label for="message">{% trans "Message" %}</label><br>
            <textarea name="message" id="message" placeholder="{% trans "Enter your message here" %}..." form='contact-form'></textarea>
            <br>


            <input type="submit" value="{% trans "Submit" %}" id="contact-submit">
        </form>
    </div>
    <div class="contact-section" id="circle-section">
        <div class='circle-container'>
        <p class="circle-text">...{% trans "or find me on one of these platforms" %}</p>
            <style>
            {% for sociallink in sociallinks %}
            .{{ sociallink.icon.slug }} {
                background: {{ sociallink.icon.colour_value }};
                color: #FFFFFF;

            }

            .{{ sociallink.icon.slug }}:hover {
                background: #FFFFFF;
                color: {{ sociallink.icon.colour_value }} !important;
            }
            {% endfor %}
            </style>
            {% for sociallink in sociallinks %}
            <a href=" {{ sociallink.external }}" target="_blank" class="{{ sociallink.position }} {{ sociallink.icon.slug }} circle-fa" style="background"><i
                    class="fab {{ sociallink.icon.icon_class }} icon-fa"></i></a>
            {% endfor %}
            <!--
            <a href="#" target="_blank" class="deg0 circle-fa" id="twitter"><i
                    class="fab fa-twitter icon-fa"></i></a>
            <a href="https://github.com/FabianVolkers" id="github" class="deg45 circle-fa"><i
                    class="fab fa-github icon-fa"></i></a>
            <a href="#" target="_blank" id="free-code-camp"
                class="deg90 circle-fa"><i class="fab fa-free-code-camp icon-fa"></i></a>
            <a href="#" target="_blank" id="spotify" class="deg135 circle-fa"><i class="fab fa-spotify icon-fa"></i></a>
            <a href="https://soundcloud.com/fabianvolkers" target="_blank" id="soundcloud" class="deg180 circle-fa"><i
                    class="fab fa-soundcloud icon-fa"></i></a>
            <a href="#" target="_blank" id="youtube"
                class="deg225 circle-fa"><i class="fab fa-youtube icon-fa"></i></a>
            <a href="https://www.linkedin.com/in/fabianvolkers/" id="linkedin"
                class="deg270 circle-fa"><i class="fab fa-linkedin-in icon-fa"></i></a>
            <a href="https://blog.fabianvolkers.com" id="blog" class="deg315 circle-fa"><i
                    class="fas fa-blog"></i></a>
-->
        </div>
    </div>
</div>